body {
  font-family: "Lato";
  background-color: white;
}

#name {
  font-weight: bold;
  font-family: "Bitter";
}

img {
  height: 200px;
}

#content {
  margin: auto;
  max-width: 600px;
}

#container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#gen-info {
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: bold;
}

.contact-info {
  list-style-type: none;
}

#summary-text {
  text-align: justify;
}

a {
  color: #090981e3;
}

div.emptyDiv {
  margin-top: 10px;
  border: 1.2px solid rgba(0, 0, 0, 0.123);
}

#english {
  margin-bottom: 80px;
}

